<h3> Products </h3>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>description</th>
      <th>category</th>
      <th>price, $</th>
      <th>is available</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | async">
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.categoryName}}</td>
      <td>{{product.price}}</td>
      <td>{{product.isAvailable ? 'yes' : 'no' }}</td>
      <td>
        <button (click)="addToBasket(product)" [disabled]="!product.isAvailable"> Buy </button>
      </td>
    </tr>  
  </tbody> 
</table>